.contacts-wrapper{
  display: flex;
  flex-direction: column;
  gap: 35px ;
}


.h1-title{
color: #D8942F;
text-align: center;

}

.contact-form {
  background-color: #fff; /* Couleur de fond blanche */
  padding: 30px; /* Augmentez l'espacement intérieur */
  border-radius: 20px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border: 1px solid ;
}

.form-group label {
  font-weight: bold;

}

.form-control {
  border: 1px solid #ccc; /* Bordure légère */
}

.btn-primary {
  background-color: #007bff; /* Couleur de fond bleue */
  border-color: #007bff; /* Couleur de la bordure bleue */
}

.btn-primary:hover {
  background-color: #0056b3; /* Couleur de fond bleu foncé au survol */
  border-color: #0056b3; /* Couleur de la bordure bleu foncé au survol */
}

@media only screen and (max-width: 767px) {
  .contact {
    margin-top: 50px; 
  }

  .contact-form {
    height: auto; 
  }

  .form-group {
    height: auto; 
    margin-bottom: 20px;
  }
  
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact {
    margin-top: 80px; 
  }
}

